<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- SEO -->
  <title>Cleveland Virtual Tip Jar</title>
  <link rel="shortcut icon" href="favicon.ico">
  <meta name="description" content="Help the Cleveland service industry. Every time you have a drink or a take-out meal at home during social
  distancing, consider tipping a local worker through Venmo, PayPal, or Cash App.">
  <link rel="canonical" href="https://clevelandtips.com/">
  <meta property="og:title" content="Cleveland Virtual Tip Jar">
  <meta property="og:description" content="Help the Cleveland service industry. Every time you have a drink or a take-out meal at home during social
  distancing, consider tipping a local worker through Venmo, PayPal, or Cash App.">
  <meta property="og:site_name" content="Cleveland Virtual Tip Jar">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://clevelandtips.com/">
  <meta property="og:image" content="https://clevelandtips.com/img/opengraph.jpg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Cleveland Virtual Tip Jar">
  <meta name="twitter:image" content="https://clevelandtips.com/img/opengraph.jpg">

  <!-- Style -->
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css?v=4">

  <!-- Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58517406-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-58517406-5');
  </script>

  <!-- Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://cdn.jsdelivr.net/npm/fuse.js"></script>
</head>

<body>

  <div class="banner">
    <div class="inner">
      <h1><img src="img/logo.png" alt="Cleveland Tip Jar" width="300px"></h1>
      <p><strong>Help the Cleveland Service Industry</strong></p>
      <p>
        Every time you have a drink or a take-out meal at home during social
        distancing, consider tipping a local worker through Venmo, PayPal, or Cash App.
      </p>
    </div>
  </div>

  <div class="inner">
    <div id="app">
      <p>
        This page shows a random worker to support, or find someone
        from your favorite establishment on the list below.
      </p>
      <p>
        <b>Service workers:</b>
        <a href="https://forms.gle/iH6E5tR7FcY2TgUPA">Add yourself to this list</a>.
        Site is updated daily.
      </p>
      <div class="selection">
        <p class="label">Your random worker is:</p>
        <h1 v-if="loading" class="text-muted">Loading...</h1>
        <h1 v-else>{{random.worker.name}}</h1>
        <p class="place">{{random.place}}</p>
        <div class="tips" v-for="app in random.apps">
          <a class="btn" :class="app.type" :href="app.link"
            v-on:click="trackTip(random.worker.name, random.place)">
            Tip on {{app.name}}
          </a>
          <p>
            {{app.username}}
            <span v-if="app.type == 'venmo' && random.worker.last4">
              ({{random.worker.last4}})
            </span>
          </p>
        </div>
        <div class="text-right">
          <button v-on:click="randomWorker">Tip another</button>
        </div>
      </div>
      <p class="text-muted"><small>
        Note for Venmo: sometimes Venmo asks for the last 4 digits of the recipient’s
        phone number to prevent spam. If the server has provided theirs, it is shown
        (in parenthesis).
      </small></p>

      <h2>Thank You</h2>
      <p>
        This website is made possible by
        <a href="https://www.coderedcorp.com/">CodeRed Web Development</a>
        and <a href="https://www.saucybrewworks.com/">Saucy&nbsp;Brew&nbsp;Works</a>.
        Developers: volunteer on
        <a href="https://github.com/vsalvino/clevelandtips">GitHub</a>.
      </p>

      <h2>Full List</h2>
      <p>
        Employers: If you offer tip-matching,
        <a href="https://forms.gle/ApQUChduP51yZ6Gr5">contact us</a> and we’ll
        list you first.
      </p>
      <p>
        <input type="text" v-model="searchTerm"
          :placeholder="'Search ' + places.length.toLocaleString() + ' places...'">
      </p>
      <div v-for="place in filteredPlaces" class="text-left place">
        <h3>{{place.name}}</h3>
        <a class="place-link" :href="place.website">{{place.website}}</a>
        <p v-if="place.note"><span class="place-icon">$</span> {{place.note}}</p>
        <table width="100%">
          <tr v-for="worker in place.workers">
            <td width="40%">{{worker.name}}</td>
            <td width="20%">
              <a v-if="worker.paypal" :href="paypalLink(worker.paypal)"
                v-on:click="trackTip(worker.name, place.name)">PayPal</a>
              <span v-else>—</span>
            </td>
            <td width="20%">
              <span v-if="worker.venmo">
                <a :href="venmoLink(worker.venmo)"
                  v-on:click="trackTip(worker.name, place.name)">Venmo</a>
                <span v-if="worker.last4">({{worker.last4}})</span>
              </span>
              <span v-else>—</span>
            </td>
            <td width="20%">
              <a v-if="worker.cashapp" :href="cashappLink(worker.cashapp)"
                v-on:click="trackTip(worker.name, place.name)">Cash App</a>
              <span v-else>—</span>
            </td>
        </table>
      </div>
    </div>

    <h2>Disclaimer</h2>
    <p>
      This website is run by volunteers.
      If you have a problem or believe any information is incorrect,
      <a href="https://forms.gle/ApQUChduP51yZ6Gr5">contact us here</a>.
    </p>
  </div>

  <script>
    dataURL = "data/data.json";
    fuse = null;

    var App = new Vue({
      el: "#app",
      data: {
        places: [],
        searchTerm: "",
        random: {
          worker: {}
        },
        loading: true
      },
      computed: {
        filteredPlaces: function() {
          if (this.searchTerm.length > 2) {
            return fuse.search(this.searchTerm).map(x => x.item);
          } else {
            return this.places;
          }
        }
      },
      methods: {
        paypalLink: function(username) {
          return "https://paypal.me/" + username;
        },
        venmoLink: function(username) {
          return "https://venmo.com/" + username;
        },
        cashappLink: function(username) {
          return "https://cash.app/$" + username;
        },
        donateInfo: function(worker) {
          infos = [];
          if (worker.paypal) {
            infos.push({
              type: "paypal",
              name: "PayPal",
              link: this.paypalLink(worker.paypal),
              username: "@" + worker.paypal,
            });
          }
          if (worker.venmo) {
            infos.push({
              type: "venmo",
              name: "Venmo",
              link: this.venmoLink(worker.venmo),
              username: "@" + worker.venmo,
            });
          }
          if (worker.cashapp) {
            infos.push({
              type: "cashapp",
              name: "Cash App",
              link: this.cashappLink(worker.cashapp),
              username: "$" + worker.cashapp,
            })
          }
          return infos;
        },
        randomWorker: function() {
          pix = Math.floor(Math.random() * this.places.length);
          wix = Math.floor(Math.random() * this.places[pix].workers.length);
          rplace = this.places[pix];
          rworker = this.places[pix].workers[wix];
          this.random = {
            place:  rplace.name,
            worker: rworker,
            apps: this.donateInfo(rworker),
          }
        },
        trackTip: function(workername, placename) {
          gtag('event', 'click-tip', {
            'event_category': placename,
            'event_label': workername
          });
        }
      },
      mounted: function() {
        // On app load...
        var self = this;
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            // Set places from json
            places = JSON.parse(this.responseText);
            // Move places with notes to the top.
            places.sort(function(a, b) {
              // if less than 0, a comes first.
              // if greater than 0, b comes first.
              // if 0, stay the same.
              if(a.note && !b.note) {
                return -1;
              }
              if(b.note && !a.note) {
                return 1;
              }
              return 0;
            });
            // Instantiate fuse search.
            fuseOptions = {
              shouldSort: true,
              threshold: 0.2,
              location: 0,
              distance: 100,
              keys: ['name']
            }
            fuse = new Fuse(places, fuseOptions);
            // Set places.
            self.places = places;
            // Pick a random worker.
            self.randomWorker();
            // Done loading.
            self.loading = false;
          }
        };
        xmlhttp.open("GET", dataURL, true);
        xmlhttp.send();
      },
    });
  </script>

</body>

</html>
